#header {
  font-family: Georgia, serif;
  position: absolute;
  height:20%;
  width:100%;
}
#container {
  position: absolute;
  top: 20%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  background-color: #f7f7f7;
  font-family: Verdana, Geneva, sans-serif;
}
#image {
  height: 80%;
  overflow-y:scroll;
	overflow-x:hidden;
}
html, body {
  width:  100%;
  width:auto;
  height: 100%;
  margin: 0px;
  text-align: center;
}
input{
  font-family: Verdana, Geneva, sans-serif;
}
#answers {
  display: inline-block;
  text-align: center;
  width: 50%;
}

#score {
  display: inline-block;
}
