@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

body {
  margin: 0;
  background-color: #eef7ff;
  text-align: center;
}
header {
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  box-shadow: 0px 1px 5px grey;
  width:100%;
  background-color: white;
  color: #5f99cf;
  text-align: center;
  padding: 2vh 0;
  margin: auto;
  font-family: Montserrat, sans-serif;
  position: relative;
  z-index: 1;
}
input {
  font-family: Montserrat;
}

input[type=checkbox] {
  display: none;
}

#image {
  background-color: #cee3f8;
  border-style: solid;
  border-color: #5f99cf;
  border-radius: 15px;
  margin:0 auto;
  width: 90%;
  height: 80%;
  padding-left: 1%;
  padding-right: 1%;
  object-position: center;
  cursor: url(zoom-in.png), auto;
}

#image:before {
  content: ' ';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

input[type=checkbox]:checked ~ label > #image {
  height: auto;
  min-height: 80%;
  max-height: 80%;
  overflow-y: auto;
  overflow-x: auto;
  object-fit: none;
  cursor: url(zoom-out.png), auto;
}

.fa {
  color: #ff4500;
}

.headertitle {
  font-weight: bold;
  font-size: calc(3.5vw + 3vh);
}

hr {
  width: 600px;
  border-width: 2px;
}


#container {
  position: absolute;
  top: 21%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

#input {
  position: absolute;
  top: 85%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

#answers {
  margin-top: calc(7vh);
  font-family: Montserrat;
  font-size: 2.2vh;
  color: #5f99cf;
  display: inline-block;
  text-align: center;
  width: 50%;
}

#score {
  margin-top: calc(1vh);
  font-family: Montserrat;
  font-size: 2.2vh;
  color: #ff4500;
  display: inline-block;
  text-align: center;
  width: 50%;
}

input[type = text], select {
  margin-top: calc(1.5vh);
  width: 60%;
  padding: 12px 20px;
  background-color: #5f99cf;
  border: 0px;
  color: white;
}

input[type = button], select {
  width: 10%;
  min-width: 90px;
  padding: 12px 20px;
  background-color: #ff4500;
  border: 0px;
  color: white;
}

input[type=button]:hover {
  background-color: #ff7e4f;
}

input[type=button]:active{
  background-color: #d66a43;
}

error {
  font-family: Montserrat;
  font-size: 200%;
  color: #5f99cf;
}

a:link {
  color: #ff4500;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #ff4500;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #5f99cf;
  background-color: transparent;
  text-decoration: none;
}

a:active {
  color: #5f99cf;
  background-color: transparent;
  text-decoration: none;
}

a {
  -o-transition: .3s;
  -ms-transition: .3s;
  -moz-transition: .3s;
  -webkit-transition: .3s;
  transition: .3s;
}